  
  /* styling for the navigation and unordered list elements to center them on the page and create space between links. nav-links removes the bullet point from the text within the list and places 10% padding between links. nav-page/a has .... logo has a flex display applied to it so that... */
  .nav ul {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links {
    list-style: none;
    padding: 10%;
  }
  
  .nav-page a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
  }
  
  .logo {
    display: flex;
    margin-right: 1rem;    
  }

/* styling for main content on page, this places the items within this element in the .. of the page, this also defines the font used on the page */

  body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'League Spartan', sans-serif;
    align-items: center;
    justify-content: center;
  }
  
 /* the following has been used to ensure the images and pages are responsive for various screen displays */

  img {
    max-width: 100%;
  }

  @media screen and (min-widtth: 800px) {
    /*INSERT BITS HERE! */
  }
  
  /* styling for the social media links within the footer, I have maniplutated the size of the images and am displaying them in an inline flex so that they are all in a row next to eachother */
#social {
    height: 30px;
    width: 30px;
    display: flex;
    margin-left: 1rem;
    
}

#trademark {
 margin-left: auto; 
}

/* styling for form on contact page */

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
  input[type=submit] {
    background-color: #10714d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form {
    border-radius: 5px;
    padding: 100px;
  }
