  .nav ul {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
  }
  
  .logo {
    display: inline-block;
  }

  body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'League Spartan', sans-serif;
  }
  
  .nav-links {
    list-style: none;
  }
  
  .nav-page a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
  }
  
#social {
    height: 30px;
    width: 30px;
    display: inline-flex;
}

